{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <h2>Success!</h2>
        <span>You successfully activate your account. Now you can <a href="../login">login</a></span>
    </div>
{% endblock %}