{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-md-3"></div>
    <div class="col-md-6">
    {% form_theme form 'bootstrap_3_layout.html.twig' %}
    {{ form_start(form) }}
    {{ form_row(form.username) }}
    {{ form_row(form.email) }}
    {{ form_row(form.plainPassword.first) }}
    {{ form_row(form.plainPassword.second) }}
    {{ form_row(form.submit) }}
    {{ form_end(form) }}
    </div>
{% endblock %}