{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <h2>Success!</h2>
        <span>We sent you a mail with account activation link. Please check you mailbox.</span>
    </div>
{% endblock %}