{% extends 'base.html.twig' %}
{% block body %}
    <table class="table table-striped table-hover col-md-8">
        <thead>
        <tr>
            <th><span>{{ knp_pagination_sortable(pagination, 'Category ID', 'c.id') }}</span></th>
            <th>  <span>{{ knp_pagination_sortable(pagination, 'Name', 'c.name') }}</span></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for category in pagination %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td><a href="{{ path('categoryedit', {'id': category.id}) }}"><i class="fa fa-pencil-square-o"></i></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('categorycreate') }}" class="btn btn-info ">Add new Category</a>
    <div class="navigation col-md-3 col-md-offset-6">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}