{% extends 'base.html.twig' %}
{% block body %}

    <div class="btn-group">
        <div class="btn-group">
            <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                Category
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                {% for category in categories %}
                    <li><a href="{{ path('publicationsgrid') }}/{{ category.id }}">{{ category.name }}</a></li>
                {% endfor %}
                <li class="divider"></li>
                <li><a href="{{ path('publicationsgrid') }}">All</a></li>
            </ul>
        </div>
    </div>
    <table class="table table-striped table-hover col-md-8">
        <thead>
        <tr>
            <th>Category</th>
            <th><span>{{ knp_pagination_sortable(pagination, 'Title', 'p.title') }}</span></th>
            <th>Author</th>
            <th><span>{{ knp_pagination_sortable(pagination, 'Creation date', 'p.createdAt') }}</span></th>
            <th>Rate</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for p in pagination %}
            <tr>
                <td>{{ p.category.name }}</td>
                <td>{{ p.title }}</td>
                <td>{{ p.author.username}}</td>
                <td>{{ p.createdAt|date("m/d/Y") }}</td>
                <td>{{ p.rate }}</td>
                <td><a href="{{ path('publicationedit', {'id': p.id}) }}"><i class="fa fa-pencil-square-o"></i></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('publicationcreate') }}" class="btn btn-info ">Add new Publication</a>
    <div class="navigation col-md-3 col-md-offset-6">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}