{% extends 'base.html.twig' %}
{% block body %}
    <div class="col-md-4">
        {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
        {{ form_start(form) }}
        {{ form_row(form.username, {'required': false}) }}
        {{ form_row(form.email, {'required': false}) }}
        {{ form_end(form) }}
    </div>
    <table class="table table-striped table-hover col-md-8">
        <thead>
        <tr>
            <th>User id</th>
            <th>Username</th>
            <th>Email</th>
            <th>Role</th>
            <th>is Active?</th>
            <th>is not Banned?</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
    {% for user in pagination %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.role.role }}</td>
            <td><input type="checkbox" {{ user.isActive ? 'checked' : '' }} onclick="return false" /></td>
            <td><input type="checkbox" {{ user.isNotBanned ? 'checked' : '' }} onclick="return false" /></td>
            <td><a href="{{ path('useredit', {'id': user.id}) }}"><i class="fa fa-pencil-square-o"></i></a></td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
    <div class="navigation col-md-3 col-md-offset-6">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}