<h3>Hello dear {{ name }}!</h3>
<span>We glad to see you joined our <a href="http://s2.dev/">News-Portal</a></span>
<span>Follow this <a href="http://s2.dev/app_dev.php/activate_acc/{{ link }}">link</a>, to activate your account.</span>