<h3>Hello dear {{ name }}!</h3>
<span>You've been requested password restoration at <a href="s2.dev">News-Portal</a></span>
<span>Follow this <a href="http://s2.dev/app_dev.php/s2.dev/app_dev.php/forgot_password/{{ link }}">link</a>, to restore your password.</span>