{% extends 'contentViewer/content_base.html.twig' %}
{% block publications %}
    </div>
        {# sorting of properties based on query components #}

        {# table body #}
            <div class="panel panel-primary col-md-8">
                <div class="panel-heading">
                    <span>{{ knp_pagination_sortable(pagination, 'CreatedAt', 'p.createdAt') }}</span>
                    {% if pagination.isSorted('p.createdAt') %}
                        <i {% if pagination.direction == "asc" %}class="fa fa-chevron-circle-up" {% else %}class="fa  fa-chevron-circle-down"{% endif %}></i>
                    {% endif %}
                    <span class="pull-right">{{ knp_pagination_sortable(pagination, 'Rate', 'p.rate') }}</span>
                    {% if pagination.isSorted('p.rate') %}
                        <i {% if pagination.direction == "asc" %}class="pull-right fa fa-chevron-circle-up" {% else %}class=" pull-right fa  fa-chevron-circle-down"{% endif %}></i>
                    {% endif %}
                </div>
                    {% for article in pagination %}

                        <tr>
                            <a href="{{ path('publication', {'id': article.id}) }}"><h2>{{ article.title }}</h2></a>
                            {{ article.description }}
                            <hr>
                        </tr>
                    {% endfor %}
            </div>
    {# display navigation #}
    <div class="navigation col-md-3 col-md-offset-6">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}