{% extends 'base.html.twig' %}
{% block body %}
    <div class="list-group col-md-3">
        <span href="#" class="list-group-item active">
            Categories
        </span>
        {% for category in categories %}
            <a href="http://s2.dev/app_dev.php/category/{{ category.name }}" class="list-group-item">{{ category.name }}</a>
        {% endfor %}
    </div>
    {% block publications %}

    {% endblock %}
{% endblock %}