{% extends 'contentViewer/content_base.html.twig' %}
{% block publications %}
    <div class="col-offset-1 col-md-8">
        <ul class="breadcrumb">
            <li class="active">Latest by categories</li>
        </ul>
    {% for category_content in pubs_by_cat %}
        {% if category_content.publications|length != 0 %}

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <a href="category/{{ category_content.category_name }}">
                        <h3 class="panel-title">{{ category_content.category_name }}</h3>
                    </a>
                </div>
                <div class="panel-body">
                    {% for publication in category_content.publications %}
                        <a href="{{ path('publication', {'id': publication.id}) }}"><h2>{{ publication.title }}</h2></a>
                        {{ publication.description }}
                        <hr>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    {% endfor %}
    </div>
{% endblock %}