<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link href="https://bootswatch.com/flatly/bootstrap.min.css" rel="stylesheet" />
            <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block navbar %}
            {% include ('navbar.html.twig') %}
        {% endblock %}
        {% block body %}

        {% endblock %}
        {% block javascripts %}
            <script src="{{ asset('asset/js/jquery.js') }}"></script>
            <script src="{{ asset('asset/js/bootstrap.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
