<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">News-Portal</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar_id">
            {% if is_granted('ROLE_USER') %}
                {% set text = ' ' %}
                <form class="navbar-form navbar-left" role="search" action="{{ path('search_publication') }}">
                    <div class="form-group">
                        <input type="text" class="form-control" name="search_text" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            {% endif %}

                <ul class="nav navbar-nav navbar-right">
                    {% if is_granted('ROLE_MANAGER') %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Management
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{{ path('publicationsgrid') }}">Publications</a></li>
                            <li><a href="{{ path('categorygrid') }}">Categories</a></li>
                            {% if is_granted('ROLE_ADMIN') %}
                            <li class="divider"></li>
                            <li><a href="{{ path('usersgrid') }}">Users</a></li>
                            <li><a href="#">Subscriptions</a></li>
                            {% endif %}
                        </ul>
                    </li>
                    {% endif %}
                    {% if is_granted('ROLE_USER') %}
                        <li><a href="{{ path('logout') }}">logout</a></li>
                    {% endif %}
                </ul>


        </div>
    </div>
</nav>