{% extends 'base.html.twig' %}
{% block body %}
    <div class="col-md-offset-1 col-md-10">
    <div><h1>{{ publication.title }}</h1>{{ publication.author.username }}
        {{ publication.createdAt|date("m/d/Y") }}</div>
    <h3>{{ publication.description }}</h3>
    <hr>
    <p>{{ publication.body }}</p>

    <hr>

    <h2>May be you will be interested.</h2>
        {% for similar in publication.similarPublications %}
            <div class="panel panel-default col-md-3" >
                <div class="panel-heading"><a href="{{ path('publication', {'id': similar.id}) }}">{{ similar.title }}</a></div>
                <div class="panel-body">
                    {{ similar.description }}
                </div>
            </div>
        {% endfor %}

    </div>
{% endblock %}