{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-md-3"></div>
    <div class="col-md-6">

        <form action="{{ path('forgot_password') }}" method="post" class="form-horizontal">
            {% for error in errors %}
                <div class="row">
                    <div class="alert alert-dismissible alert-danger col-md-offset-3 col-md-6">{{ error }}</div>
                </div>
            {% endfor %}
        <fieldset>
            <div class="form-group">
                <label for="username" class="col-md-3 control-label">Username:</label>
                <div class="col-md-6">
                    <input type="text" placeholder="username" id="username" class="form-control" name="username" value=""/>
                </div>
            </div>
            <h4 class="col-md-offset-2">Or</h4>
            <div class="form-group">
                <label for="password" class="col-md-3 control-label">Email</label>
                <div class="col-md-6">
                    <input type="text" id="email" class="form-control" placeholder="email" name="email"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6 col-md-offset-3">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </fieldset>
        </form>
    </div>
{% endblock %}