{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-md-3"></div>
    <div class="col-md-6">

        <form action="{{ app.request.uri }}" method="post" class="form-horizontal">
            {% if message %}
                <div class="row">
                    <div class="alert alert-dismissible alert-success col-md-offset-3 col-md-6">{{ message }}</div>
                </div>
            {% else %}
                {% if error %}
                    <div class="row">
                        <div class="alert alert-dismissible alert-danger col-md-offset-3 col-md-6">{{ error }}</div>
                    </div>
                {% endif %}
                <fieldset>
                    <div class="form-group">
                        <label for="password" class="col-md-3 control-label">New password:</label>
                        <div class="col-md-6">
                            <input type="password" id="password" class="form-control" name="password" value=""/>
                        </div>
                    </div>
                    <h4 class="col-md-offset-2">Or</h4>
                    <div class="form-group">
                        <label for="repeat_password" class="col-md-3 control-label">Repeat password</label>
                        <div class="col-md-6">
                            <input type="password" id="repeat_password" class="form-control" name="repeat_password"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6 col-md-offset-3">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </fieldset>
            {% endif %}
        </form>

    </div>
{% endblock %}