{% extends 'base.html.twig' %}
{% block body %}
    <div class="col-md-offset-4 col-md-4">
    {% form_theme form 'bootstrap_3_layout.html.twig' %}
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn   btn-success btn-block">Submit </button>
    {{ form_end(form) }}
    {% if deleteForm is defined %}
<hr>
    {{ form_start(deleteForm) }}
        <button class="btn   btn-danger btn-block">Delete </button>
    {{ form_end(deleteForm) }}
    </div>
        {% endif %}
{% endblock %}