{% extends 'base.html.twig' %}

{% block body %}
    <form action="{{ path('login') }}" method="post" class="form-horizontal">
        <div class="grid">
            {% if error %}
                <div class="row">
                    <div class="alert alert-dismissible alert-danger col-md-offset-3 col-md-6">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                </div>
            {% endif %}
            <div class="row">
        <fieldset>
            <div class="form-group">
                <label for="username" class="col-md-3 control-label">Login:</label>
                <div class="col-md-6">
                    <input type="text" placeholder="username or email" id="username" class="form-control" name="_username" value="{{ last_username }}"/>
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="col-md-3 control-label">Password:</label>
                <div class="col-md-6">
                    <input type="password" id="password" class="form-control" name="_password"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6 col-md-offset-3">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <a href="forgot_password" >Forgot password?</a>
                </div>
            </div>
        </fieldset>
            </div>
            </div>
    </form>
    <h3 class="col-md-offset-3" >Don't have account? click <a href="register">here</a> to register.</h3>
{% endblock %}